@model DesignPattern.EntityLayer.Concrete.Category
@{
    ViewData["Title"] = "UpdateCategory";
}

<div class="container">
    <br />

    <form method="post">
        <input type="hidden" asp-for="Id" />
        <label>Kategori Adı</label>
        <input type="text" asp-for="Name" class="form-control" />
        <br />
        <button class="btn btn-success" type="submit">Güncelle</button>
    </form>
</div>

