@model List<DesignPattern.CQRS.CQRSPattern.Results.GetProductQueryResult>
@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <br />
    <table class="table table-bordered">
        <tr>
            <th>Id</th>
            <th>Adı</th>
            <th>Fiyat</th>
            <th>Stok</th>
            <th>Getir</th>
            <th>Sil</th>
            <th>Güncelle</th>
        </tr>
        @foreach(var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Price ₺</td>
                <td>@item.Stock</td>
                <td> <a href="/Default/GetProduct/@item.Id" class="btn btn-info">Getir</a></td>
                <td> <a href="/Default/Delete/@item.Id" class="btn btn-danger">Sil</a></td>
                <td> <a href="/Default/Update/@item.Id" class="btn btn-success">Güncelle</a></td>
            </tr>
        }
    </table>
    <a href="/Default/Add/" class="btn btn-success">Ürün Girişi</a>
</div>
